

<div class="px-5">
  <%= form_with(model: issue, local: true) do |form| %>
    <% if issue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

        <ul>
          <% issue.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :Title %>
    <div class="form-group">
      <div class="field">
        <%= form.text_field :Title %>
      </div>
    </div>

    <%= form.label :Description %>
    <div class="form-group">
      <div class="field"> 
      <%= form.text_area(:Description, size: '100x5')%>
      </div>

    </div>
        
    <%= form.label :Type %>
    <div class="form-group">
      <div class="field">
        <%= form.select :Type, options_for_select(Issue.type, issue[:Type]), :class => 'genForm_dropBox' %>
      </div>
    </div>

    <%= form.label :Priority %>
    <div class="field">
      <%= form.select :Priority, options_for_select(Issue.priority, issue[:Priority]), :class => 'genForm_dropBox' %>
    </div>
    
    <%= form.label :Assignee %>
    <div class="input-group">
      <%= form.collection_select :assignee_id, User.all, :id, :name, {:include_blank => 'No assigned user'} %>
    </div>

    <div class="field" style="display:none;">
      <%= form.text_field :user_id, required: true, class: 'form-control', value:current_user.id  %>
      <%= form.text_field :Status, required: true, class: 'form-control', value:"New" %>
    </div>
    
    <div class="form-group">
      <%= form.label :Attach %>
      <%= form.file_field :attachment %>
    </div>

    <div style="float:right;"">
      <%= form.submit class:"btn btn-outline-dark"%>
    <button type="button" class="btn btn-outline-dark">
      <%= link_to 'Back', issues_path %>
      
    </button>
    </div>
  <% end %>

  <form>

  </form>
</div>
