<div class="px-5">
  <%= form_with(model: issue, local: true) do |form| %>
    <% if issue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

        <ul>
          <% issue.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    
    <div class="form-group">
      <div class="field">
        <%= form.label :Title %>
        <%= form.text_field :Title %>
      </div>
    </div>

    <div class="field">
      <%= form.label :Description %>
      <%= form.text_field :Description %>
    </div>

    <div class="form-group">
      <div class="field">
        <%= form.label :Type %>
        <%= form.select :Type, options_for_select(Issue.type, issue[:Type]), prompt: true, :class => 'genForm_dropBox' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :Priority %>
      <%= form.select :Priority, options_for_select(Issue.priority, issue[:Priority]), prompt: true, :class => 'genForm_dropBox' %>
    </div>
    
    <%= form.text_field :user_id, required: true, class: 'form-control', value:current_user.id  %>
    <%= form.text_field :Status, required: true, class: 'form-control', value:"New" %>
    <%= form.text_field :Watchers, required: true, class: 'form-control', value:1 %>

    <div class="form-group">
      <label for="FormControlFile1">Attach</label>
      <input type="file" class="form-control-file" id="FormControlFile1">
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <form>

  </form>
</div>
