<p id="notice"><%= notice %></p>


<!DOCTYPE html>


<div class="header">
  <div class="section-title">
    <h1>Issues</h1>
  </div>
  <div class="page-actions">
    <% if current_user %>
      <span class="create-button">
        <%= link_to 'New Issue', new_issue_path %>
        <% end %>
      </span>
      <span class="create-button">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %> 
      </span>
  </div>
</div>
  
<div class="issues">
  <div class="barra-de-filtros">
    <div class="contenedor">
      <p class="filter-text">Filter by:</p>
      <ul class="filtros">
        <li class="aui-button">
          <a href="/issues">All</a>
        </li>
        <li class="aui-button">
          <a><%= link_to "Open", issues_url(status: "New&Open")%></a>
        </li>
      
        <li class="aui-button">
          <a><%= link_to "My issues", issues_url(assignee: current_user.id)%></a>
        </li>
      
        <li class="aui-button">
          <a><%= link_to "Watching", issues_url(watcher: current_user.id)%></a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="issues-total">
      <h2 >Issues (<%= @issues.size %>)</h2>
  </div>
  
  <p>
    <% if request.query_parameters[:type] %>
      <b>type: </b> "<%= request.query_parameters[:type] %>"
    <% end %>
    <% if request.query_parameters[:priority] %>
        <b>priority: </b> "<%= request.query_parameters[:priority] %>"
    <% end %>
    <% if request.query_parameters[:status] %>
        <b>status: </b> "<%= request.query_parameters[:status] %>"
    <% end %>
    <% if request.query_parameters[:assignee] %>
        <b>assignee: </b> "<%= User.find(request.query_parameters[:assignee]).name %>"
    <% end %>
  </p>

  <table class = "issue-list">
    <thead>
      <tr>
        <th style="width: 45%" scope="col">Title</th>
        <th scope="col"><%= link_to  'T', issues_url(sort: "kind") %></th>
        <th scope="col"><%= link_to  'P', issues_url(sort: "priority") %></th>
        <th scope="col"><%= link_to  'Status', issues_url(sort: "status") %></th>
        <th scope="col"><%= link_to  'Votes', issues_url(sort: "votes") %></th>
        <th scope="col"><%= link_to  'Assignee', issues_url(sort: "assignee") %></th>
        <th scope="col"><%= link_to  'Created', issues_url(sort: "created") %></th>
        <th scope="col"><%= link_to  'Updated', issues_url(sort: "updated") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td><%= link_to issue.Title , issue, class:"btn-link" %></td>
          <% if issue.Type == "Bug" %>
            <td><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Bug.png", height: 20, width: 20), issues_url(type: issue.Type) %></td>
          <% elsif issue.Type == "Enhancement" %>
            <td><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Enhancement.png", height: 20, width: 20), issues_url(type: issue.Type) %></td>
          <% elsif issue.Type == "Proposal" %>
            <td><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Proposal.png", height: 20, width: 20), issues_url(type: issue.Type) %></td>
          <% elsif issue.Type == "Task" %>
            <td><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Task.png", height: 20, width: 20), issues_url(type: issue.Type) %></td>
          <% end %>
          <% if issue.Priority == "Blocker" %>
            <td><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Blocker.png", height: 20, width: 20), issues_url(type: issue.Priority) %></td>
          <% elsif issue.Priority == "Critical" %>
            <td><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Critical.png", height: 20, width: 20), issues_url(type: issue.Priority) %></td>
          <% elsif issue.Priority == "Major" %>
            <td><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Major.png", height: 20, width: 20), issues_url(type: issue.Priority) %></td>
          <% elsif issue.Priority == "Minor" %>
            <td><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Minor.png", height: 20, width: 20), issues_url(type: issue.Priority) %></td>
          <% elsif issue.Priority == "Trivial" %>
            <td><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Trivial.png", height: 20, width: 20), issues_url(type: issue.Priority) %></td>
          <% end %>
          <td><%= link_to issue.Status , issues_url(status: issue.Status), class:"btn-link" %></td>
          <td><%= issue.Votes %></td>
          <% if !issue.asignee.nil? %>
          <td><%= link_to issue.asignee.name, issues_url(assignee: issue.asignee.id) %></td>
          <% else %>
          <td></td>
          <% end %>
          <td><%= time_ago_in_words(issue.created_at) + " ago" %></td>
          <td><%= time_ago_in_words(issue.updated_at) + " ago" %></td>
          <td><%= "watchers" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
