<p id="notice"><%= notice %></p>

<style type="text/css">
  .issue-attrs {
    border: 1px solid 
    #DFE1E6;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    border-spacing: 0;
    width: 350px;
    margin: 0px;
    display: block;
  }

   .sidebar {
    width: 300px;
    display: table-cell;
    vertical-align: top;
    }

  .dl {
    margin: 8px;
    padding-left: 120px;
  }

  .issue-attrs dt{
    float: left;
    margin-left: 10px;
    text-align: right;
    width: 120px;
    display: block;
  }

  .issue-attrs dd{
    padding-left: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


</style>

<div class="p-5">

  <div class="header">
    <div class="section-title">
      <h2><%= @issue.Title %> </h2>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="column col-sm-9">
      <div class="px-3">
        <p style="font-size: 90%">
          <strong> <%= User.find(@issue.user_id).name %> </strong> created an issue <%= time_ago_in_words(@issue.created_at) + " ago" %>
        </p>
        <p style="font-size: 100%">
          <% if @issue.Description.nil? %>
            <i>No description provided.</i>
          <% else %>
            <%= @issue.Description %>
          <% end %>
        </p>
      </div>
      <hr align="left" width="100%">

  <p>
    <strong> <h6>Comments</h6> </strong>
  </p>


  <div style="display:none;">
  <p>
    <strong>At name:</strong>
    <%= @issue.at_name %>
  </p>
  <p>
    <strong>At format:</strong>
    <%= @issue.at_format %>
  </p>
  <p>
    <strong>At size:</strong>
    <%= @issue.at_size %>
  </p>
  <p>
    <strong>At updated at:</strong>
    <%= @issue.at_updated_at %>
  </p>
  </div>  


    </div>  

    <div class="sidebar col-sm-3" >

    <div class="row pb-3" >

      <div class="pr-1">
        <button class="btn btn-primary">
          Resolve
        </button>
      </div>

      <div class="pl-2">

         <div class="dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            Workflow
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </div> 
      </div>

      <div class="pl-5">

        <button type="button" class="btn btn-light">
          Attach
        </button> 
      </div>

      <div class="col-sm-2">
        <button class="btn btn-light">
          <%= link_to 'Edit', edit_issue_path(@issue) %>
        </button>
      </div>

    </div>

      <div class="issue-attrs">
        <dl>
          <dt> Asignee </dt>
          <dd>-</dd>
        </dl>
        <dl>
          <dt> Type </dt>
          <dd> <%= @issue.Type %></dd>
        </dl>
        <dl>
          <dt>Type</dt>
          <dd> <%= @issue.Type %></dd>
        </dl>
        <dl>
          <dt>Priority</dt>
          <dd> <%= @issue.Priority %></dd>
        </dl>
        <dl>
          <dt>Status</dt>
          <dd> <%= @issue.Status %></dd>
        </dl>
        <dl>
          <dt>Votes</dt>
            <% if @issue.Votes.nil? %>
              <dd> 0 </dd>
            <% else %>
             <dd><%= @issue.Votes %></dd>
            <% end %>
        </dl>
        <dl>
          <dt>Watchers</dt>
            <% if @issue.Watchers.nil? %>
              <dd> 0 </dd>
            <% else %>
             <dd><%= @issue.Watchers %></dd>
            <% end %>
        </dl>
      </div>
    </div>
  </div>

  

  <%= link_to 'Edit', edit_issue_path(@issue) %> |
  <%= link_to 'Back', issues_path %>
</div>


