<p id="notice"><%= notice %></p>

<style type="text/css">
  .issue-attrs {
    border: 1px solid 
    #DFE1E6;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    border-spacing: 0;
    width: 350px;
    margin: 0px;
    display: block;
  }

   .sidebar {
    width: 300px;
    display: table-cell;
    vertical-align: top;
    }

  .dl {
    margin: 8px;
    padding-left: 120px;
  }

  .issue-attrs dt{
    float: left;
    margin-left: 10px;
    text-align: right;
    width: 120px;
    display: block;
  }

  .issue-attrs dd{
    padding-left: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


</style>

<div class="p-5">

  <div class="header">
    <div class="section-title">
      <h2><%= @issue.Title %> </h2>
      <div class="section-title2 px-3">
        <h8> Issue # <%=@issue.id.to_s %> </h8>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column col-sm-9">
      <div class="px-3">
        <p style="font-size: 90%">

          <strong> <%= User.find(@issue.user_id).name %> </strong> created an issue <%= time_ago_in_words(@issue.created_at) + " ago" %>
        </p>
        <p style="font-size: 100%">
          <% if @issue.Description.nil? %>
            <i>No description provided.</i>
          <% else %>
            <%= @issue.Description %>
          <% end %>
        </p>
      </div>
      <hr align="left" width="100%">

  <p>
    <strong> <h6>Comments</h6> </strong>
  </p>


  <div style="display:none;">
  <p>
    <strong>At name:</strong>
    <%= @issue.at_name %>
  </p>
  <p>
    <strong>At format:</strong>
    <%= @issue.at_format %>
  </p>
  <p>
    <strong>At size:</strong>
    <%= @issue.at_size %>
  </p>
  <p>
    <strong>At updated at:</strong>
    <%= @issue.at_updated_at %>
  </p>
  </div>  


    </div>  

    <div class="sidebar col-sm-3" >

    <div class="row pb-3" >

      <div class="pr-1">
        <button class="btn btn-primary">
          Resolve
        </button>
      </div>

      <div class="pl-2">

         <div class="dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            Workflow
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </div> 
      </div>

      <div class="pl-5">

        <button type="button" class="btn btn-light">
          Attach
        </button> 
      </div>

      <div class="col-sm-2">
        <button class="btn btn-light">
          <%= link_to 'Edit', edit_issue_path(@issue) %>
        </button>
      </div>

    </div>

<div class="issue-attrs">
        <dl>
          <dt> Asignee </dt>
          <% if !@issue.asignee.nil? %>
            <dd><%= link_to @issue.asignee.name, issues_url(assignee: @issue.asignee.id) %></dd>
          <% else %>
            <dd>-</dd>
          <% end %>
        </dl>
        <dl>
          <dt> Type </dt>
          <% if @issue.Type == "Bug" %>
            <dd><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Bug.png", height: 20, width: 20) + " " + @issue.Type , issues_url(type: @issue.Type) %></dd>
          <% elsif @issue.Type == "Enhancement" %>
            <dd><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Enhancement.png", height: 20, width: 20) + " " + @issue.Type , issues_url(type: @issue.Type) %></dd>
          <% elsif @issue.Type == "Proposal" %>
            <dd><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Proposal.png", height: 20, width: 20) + " " + @issue.Type , issues_url(type: @issue.Type) %></dd>
          <% elsif @issue.Type == "Task" %>
            <dd><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Task.png", height: 20, width: 20) + " " + @issue.Type , issues_url(type: @issue.Type) %></dd>
          <% end %>
        </dl>
        <dl>
          <dt>Priority</dt>
          <% if @issue.Priority == "Blocker" %>
            <dd><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Blocker.png", height: 20, width: 20) + " " + @issue.Priority , issues_url(type: @issue.Priority) %></dd>
          <% elsif @issue.Priority == "Critical" %>
            <dd><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Critical.png", height: 20, width: 20) + " " + @issue.Priority , issues_url(type: @issue.Priority) %></dd>
          <% elsif @issue.Priority == "Major" %>
            <dd><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Major.png", height: 20, width: 20) + " " + @issue.Priority , issues_url(type: @issue.Priority) %></dd>
          <% elsif @issue.Priority == "Minor" %>
            <dd><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Minor.png", height: 20, width: 20) + " " + @issue.Priority , issues_url(type: @issue.Priority) %></dd>
          <% elsif @issue.Priority == "Trivial" %>
            <dd><%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/Trivial.png", height: 20, width: 20) + " " + @issue.Priority , issues_url(type: @issue.Priority) %></dd>
          <% end %>
        </dl>
        <dl>
          <dt>Status</dt>
          <dd><%= link_to @issue.Status , issues_url(type: @issue.Status) %></dd>
        </dl>
        <dl>
          <dt>Votes</dt>
            <dd>
              <% if @issue.Votes.nil? %>
                <%= "0 " %>
              <% else %>
                <%= @issue.Votes %>
              <% end %>
                  <% if !Vote.exists?(:issue_id => @issue.id, :user_id => current_user.id) %>
                  <%= link_to 'Vote for this issue', vote_path(id: @issue.id), method: :post, class:"vote" %>
                  <% else %>
                  <%= link_to 'Remove vote', vote_path(id: @issue.id), method: :post, class:"vote" %>
                  <% end %>
            </dd>
        </dl>
        <dl>
          <dt>Watchers</dt>
            <dd>
              <% if @issue.Watchers.nil? %>
                <%= "0 " %>
              <% else %>
                <%= @issue.Watchers %>
              <% end %>
              <% if !Watcher.exists?(:issue_id => @issue.id, :user_id => current_user.id) %>
                  <%= link_to 'Watch this issue', watch_url(id: @issue.id, view: "issue"), method: :post, class:"vote" %>
              <% else %>
                  <%= link_to 'Stop watching', watch_url(id: @issue.id, view: "issue"), method: :post, class:"vote" %>
              <% end %>
            </dd>
        </dl>
      </div>
    </div>
  </div>

  

  <%= link_to 'Edit', edit_issue_path(@issue) %> |
  <%= link_to 'Back', issues_path %>
</div>


